<div class="row">
    <div class="col-lg-9">

        <div class="panel panel-info" id="main-panel">
            <div class="panel-heading">
                Chat Room
            </div>
            <div class="panel-body">

                <ul class="nav nav-pills" id="myPill">
                    <li ng-repeat="chat in chats" maketab>
                        <a class="active" href="#{{chat.socket}}" data-toggle="pill">{{chat.username}} </a>
                    </li>
                </ul>

                <div class="pill-content" id="myPillContent" style="min-height: 358px; max-height: 382px; overflow-y:auto; margin-top: 5px;">
                    <div ng-repeat="chat in chats" class="pill-pane" id="{{chat.socket}}">

                        <div class="list-group chat-entry">
                            <a href='' class='list-group-item' ng-repeat="msg in chat.msg">
                                <p class='text-muted'><time class='date' title='"+date+"'>{{msg.date}}</time></p>
                                <strong ng-show="msg.username" class='list-group-item-heading'>{{msg.username}} said:</strong>
                                <p ng-show="msg.username" class='list-group-item-text'>{{msg.message}}</p>
                                <p ng-hide="msg.username" class='list-group-item-text'><small>{{msg.message}}</small></p>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-3">

        <div class="panel panel-success" style="max-height: 358px; overflow-y:auto;">
            <div class="panel-heading">
                Connected Users
            </div>
            <div class="panel-body">
                <div class="list-group" id="users" ng-repeat="user in users | filterUsers : username">
                    <a href='' ng-click="open_chat(user)" class='list-group-item users'>
                        <span class='label {{user.status | status2icon }}'><i class='glyphicon glyphicon-certificate'></i></span>
                        {{user.username}}
                    </a>
                </div>
            </div>
        </div>

    </div>


</div>

</hr>


<div class="row">
    <div class="col-lg-7 col-lg-offset-1">
        <input type="text" class="form-control" ng-model="chatmsg" id="messageInput" placeholder="Enter your message...">
    </div>
    <div class="col-lg-2">
        <button type="submit" id="submit" ng-disabled="current_chat==null" ng-click="send_msg()" class="btn btn-primary">Send</button>

    </div>
</div>

</br>

<div class="row">
    <div class="col-lg-8 col-lg-offset-1">

        <div>
            <p>There is <span>{{nbUsers}}</span> connected user(s).</p>
        </div>
    </div>

</div>

