/* app css stylesheet */

.panel-body {
    padding: 5px;
}

.right-chat {
    background-color: #dff0d8;
}

.left-chat {
    background-color: #d6e9c6;
}

.nav-pills > li .close {
    margin-top: -18px;
    margin-left: 12px;
    font-size: 15px;
}